.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #000814;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.modal-success .modal-content {
  border: 2px solid #4caf50;
  border-radius: 10px;
  padding: 10px;
}

.modal-error .modal-content {
  border: 2px solid #ff0000;
  border-radius: 10px;
  padding: 10px;
}

.modal-title {
  margin-top: 0;
}

.modal-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
}

.modal-button-success {
  background-color: #4caf50;
  color: white;
}

.modal-button-error {
  background-color: #f44336;
  color: white;
}

body {
  margin: 0;
  font-family: "Alata", sans-serif;
  background-color: #000814;
  color: #c9d1d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-icon {
  margin-left: 10px;
}

.task-button,
.cancel-button {
  background-color: #000b29;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.task-button-icon,
.cancel-button-icon {
  margin: 5px;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  width: 320px;
}

.task-input {
  padding: 10px;
  border: 2px solid #30363d;
  border-radius: 5px;
  background-color: #222831;
  color: white;
  width: 100%;
}

.task-input-desc {
  height: 100px;
}

.tasks-container {
  background-color: #000b29;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 320px;
  padding: 10px;
  border-radius: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000814;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task-checkbox {
  margin-right: 10px;
}

.task-content {
  flex-grow: 1;
  cursor: pointer;
}

.task-text {
  display: block;
  margin-bottom: 5px;
}

.task-desc {
  display: block;
  font-size: 12px;
  color: #8b949e;
}

.task-date {
  font-size: 12px;
  color: #8b949e;
}

.edit-task-button,
.delete-task-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #58a6ff;
  margin-left: 10px;
}

.edit-task-button:disabled,
.delete-task-button:disabled {
  color: grey;
}

.edit-task-button:hover:enabled,
.delete-task-button:hover:enabled {
  color: #1f6feb;
}
